.clock{
width:200px;
height:200px;
border:6px solid white;
border-radius:50%;
position:relative;
}

.hand{
position:absolute;
height:4px;
background:white;
top:50%;
transform-origin:100%;
}

.hour{
width:35%;
left:15%;
}

.minute{
width:45%;
left:5%;
}

.second{
width:50%;
left:0%;
background:red;
}